@import "components.scss";

/*--------------------------------------------------------------
# COMMON CSS START
--------------------------------------------------------------*/
.font-heading {
    @extend %font-heading;
} 

.font-paragraph {
    @extend %font-body;
    @extend %font-weight-body;
}
 
.font-special {
    @extend %font-special;
    @extend %font-weight-special;
} 

// CREATE CLASS OF COLOR AND BACKGROUND

body {
    margin: 0;
    padding: 0;
    font-weight: $font-weight-normal;
    overflow-x: hidden;
    @extend .font-paragraph;
    font-size: $font-size-base*0.8; 
    @include media-breakpoint-up(md) {
        font-size: $font-size-base*0.9;
    }
    @include media-breakpoint-up(xl) {
        font-size: $font-size-base;
    }
    @include media-breakpoint-up(xxxl) {
        font-size: $font-size-base*1.1;
    }
}

h1 h2, h3, h4, h5, h6,
.h1, .h2, .h3, h4, .h5, .h6,
.display-1, .display-2, .display-3, h4, .display-5, .display-6{
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
    @include hover{
        color: inherit;
    }
}

.rounded-xl{
    @include rounded(10px);
}

.bg-none {
    @extend %bg-none;
}

// REMOVE FOCUS FROM SELECT AND BTN
.form-select, .btn{
    &:focus {
        border-color: transparent;
        outline: 0;
        box-shadow: 0 0 0 0 rgba(13, 110, 253, 0)!important;
    }
}
 
// CREATE BTNS
.btn{
    &-white{
        background-color: $white;
        border-color: $white;
    }
} 

section,
.section {
    @include padding(1rem 0);
    @include media-breakpoint-up(md) {
        @include padding(1.5rem);
    }
    .section-heading {
        .main-heading {
            line-height: 1.2;
            margin-bottom: 0; 
            h2{
                text-transform: uppercase;
                color: $primary;
                font-weight: 100;
                @include media-breakpoint-up(lg){
                    font-size: 2.3rem;
                }
            }
        }
    }
    .container, .container-fluid{
        position: relative;
        .btn-bottom{
                @include position(absolute, 0 0 null null);
            }
        @include media-breakpoint-up(lg){
            .btn-lg-bottom{
                @include position(absolute, 0 0 null null);
            }
        }
        @include media-breakpoint-up(md){
            .btn-md-bottom{
                @include position(absolute, 0 0 null null);
            }
        }
        @include media-breakpoint-up(sm){
            .btn-sm-bottom{
                @include position(absolute, 0 0 null null);
            }
        }
    }
}

@include checkbox();
@include radio();
@include accordion();
@include breadcrumb();
@include slick-arrow(); 

@import "./header.scss";
@import "./footer.scss";
// @import "./sidebar.scss";
// @import "./modal.scss";

// -----------------------------------------------------------
// COMMON CLASSES IN THEME
// -----------------------------------------------------------
.object-fit-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.object-fit-contain{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.responsive-images{
    .img-holder{
        width: 100%!important;
        height: 100%!important;
        max-width: 100%!important;
        max-height: 100%!important;
        img{
            width: auto!important;
            height: 100%!important;
            // min-width: 100%!important; 
            min-height: 100%!important;
        }
    }
    &-center{
        .img-holder{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// CREATE DATA LIST
dl{
    dt{
        .bi-circle-fill{
            color: $gray-300;
            &::before{
                @include transform(scale(0.5));
            }
        }
    }
}

// CHANGE CUSTOM SELECT ICON
.custom-select{
    background-image: url(../../assets/images/select-down.svg);
}

// 
.rating{
    .bi-star-fill, .bi-star-half{
        margin: 2px;
        color: $warning;
    }
}


.slick-height-equal {
    .slick-track {
        display: flex;
        align-items: stretch;
        .slick-slide {
            height: auto;
            flex: 1;
        }
    }
}

.slick-arrows-dark{
    @include media-breakpoint-up(md){
        margin-left: -30px;
        margin-right: -30px;
    }
    .slick-arrow{
        background-color: $gray-600;
        border-color: $gray-600;
        @extend .h6;
        color: $white;
        @include size(25px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        z-index: 3;
        &:hover{
            background-color: $dark;
            border-color: $dark;
        }
    }
    .slick-prev{
        z-index: 10;
    }
}

// THEME COMMON ELEMENTS
.form-control, .form-select{
    border-radius: 10px;
    height: 40px;
    font-size: 15px;
    @extend .fw-regular;
    @extend .px-3;
    color: $white;
    background-color: rgba($color: $lighter-primary, $alpha: 0.5);
    border-color: rgba($color: $lighter-primary, $alpha: 0.5);
    &::placeholder{
        color: rgba($color: $white, $alpha: 0.5);
    }
    &:focus{
        background-color: rgba($color: $lighter-primary, $alpha: 0.5);
        border-color: rgba($color: $lighter-primary, $alpha: 0.5);
        color: $white;
    } 
}
textarea.form-control{
    height: initial;
}
.bg-form-control{
    background-color: #5181b4;
    &.bg2{
        background-color: #6195c5;;
    }
    &.bg3{
        background-color: #5d8abc;;
    }
}
.form-select{
    background-image: url(../images/chevron-down.svg);
    &.bg-img-none{
        background-image: none; 
    }
}
.file-group{
    width: 230px;
    .form-control{
        justify-content: space-between;
        &.file{
            opacity: 0.6;
            .btn-light-primary{
                min-width: 100px;
                justify-content: center;
            }
        }
    }
    &.opacity-1{
        .file{
            opacity: 1;
        }
    }
}

.slick-dots{
    margin-top: 20px;
    li{
        list-style: none;
        button{
                @include size(6px);
                color: transparent;
                @include transition(all 0.5s);
                @include rounded(50%);
                background:rgba($color: $light-primary, $alpha: 0.5);
                border:1px solid rgba($color: $light-primary, $alpha: 0.5);
            }
        &.slick-active{
            button{
                @include size(8px);
                @include rounded(50%);
                background:rgba($color: $primary, $alpha: 1);
                border:1px solid rgba($color: $primary, $alpha: 1);
            }
        }
    }
}

.toast{
    border-radius: 10px;
    height: 40px;
    @extend .px-3;
    background-color: rgba($color: $lighter-primary, $alpha: 0.5);
    border-color: rgba($color: $lighter-primary, $alpha: 0.5);
    color: rgba($color: $white, $alpha: 0.5);
    .btn{
        color: rgba($color: $white, $alpha: 0.5);
    }
}

input[type="radio"], input[type="checkbox"]{
    &+label{
        &.btn-light-primary{
            height: 40px;
            border-radius: 10px;
            color: rgba($color: $white, $alpha: 0.5);
            border-color: $light-primary;
            background-color: rgba($color: $lighter-primary, $alpha: 0.5);
            border-color: rgba($color: $lighter-primary, $alpha: 0.5);
        }
    }
    &:checked{
        &+label{
            &.btn-light-primary{
                color: $white;
                border-color: $white;
                opacity: 1;
            }
            
        }
    }
}

.btn-check-rounded{
    input[type="radio"], input[type="checkbox"]{
        &+label{
            &.btn-primary{
                border: 2px solid transparent;
                border-radius: 100px;
                padding: 10px;
                color: $white;
                .icon-holder{
                    @include size(60px);
                    @include rounded(100%);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $light-primary;
                    img{
                        max-width: 30px;
                    }
                }
            }
        }
        &:checked{
            &+label{
                &.btn-primary{
                    border-color: $white;
                }
            }
        }
    }
}

.offcanvas-bottom.phone-bottom{
    @include rounded(30px 30px 0 0);
    height: initial;
    // padding-bottom: 4rem;
    z-index: 1051;
} 

.btn-group{ 
    &.tabs{
        background-color: $light-primary;
        padding: 4px;
        @include rounded(50px!important);
        .btn{
            color: $deep-primary;
            @include rounded(50px!important);
            &.active{
                background-color: $primary;
                color: $white;
            }
        }
    }
}

.user-search{
    .form-control{
        background: transparent!important;
        border-color: $primary!important;
        &::placeholder{
            color: $primary!important;
        }
    }
    i{
        color: $primary!important;
    }
}

.py-12px{
    padding-top: 12px;
    padding-bottom: 12px;
}

.border-bottom-light-50{
    border-bottom: 1px solid rgba($color: $lighter-primary, $alpha: 0.5);
}

.bg-light-primary-50{
    background-color: rgba($color: $lighter-primary, $alpha: 0.5);
}

