

@import "bootstrap.scss";
@import "_common.scss"; 
 
/*--------------------------------------------------------------
# HOME PAGE START
--------------------------------------------------------------*/
.bg-phone-container{
    min-height: 100vh;
    width: 100%;
    max-width: 576px;
    margin: auto;
    position: relative;
    // .postion-bottom{
    //     z-index: 1048;
    // }
    .bg-overlay{
        @include position(absolute, 0 0 0 0);
    } 
    .phone-content{
        padding-bottom: 200px;
    }
    .phone-footer{
        width: 100%;
        max-width: 576px;
        margin: auto;
        @include position(fixed, null null 0 null);
    }
}
.text-white-20{
    color: rgba($color: $white, $alpha: 0.2)
}
.border-2px{
    border-width: 2px!important;
}
.card-1{
    i{
        font-size: 40px
    }
}
.card-2{
    i{
        font-size: 30px
    }
}

.custom-accordion2{
    .accordion-button{
        background-color: transparent;
        color: black;
        box-shadow: none;
        &::after{
            @include filter(invert(0.5) grayscale(100%));
        }
        &::before{
            content: " ";
            @include position(absolute, null 12px 0 12px);
            width: calc(100% - 24px);
            border-bottom: 1px dashed $gray-500;
        }
    }
    .accordion-item{
        @include rounded(10px);
    }
}

.delivery-steps{
    font-size: 14px; 
    .row{
        // align-items: center;
        .time{
            color: $gray-600;
            text-align: right;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        .circle-holder{
            display: flex;
            align-items: center;
            position: relative;
            .circle{
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                @include size(30px);
                border: 2px solid $white;
                background-color: $gray-500;
                @include rounded(50%); 
                color: $gray-500;
                i{
                    width: 15px;
                    height: 19px;
                }
            }
            &::before{
                 content: " ";
                 height: 100%;
                 width: 2px;
                 background-color: $gray-500;
                 @include position(absolute, calc(50% + 15px) null null 50%);  
                 @include transform(translateX(-50%)); 
            } 
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .text-title{
                @extend .fw-medium;
                color: $gray-500;
                font-size: 16px;
            } 
        }
    } 
    .steps{
        padding-top: 8px;
        padding-bottom: 8px;
        &:last-child{
            .circle-holder{
                &::before{
                    display: none;
                }
            }
        }
        &.active{
            .circle-holder{
                .circle{
                    background-color: $success;
                    color: $white;
                }
                &::before{
                    background-color: $success;
                }
            }
            .text{
                .text-title{
                    color: $success;
                }
            }
        }
    }
}

.myheader{
    &.active{
        @include position(sticky, 0 0 null 0);
        overflow: hidden;
        z-index: 1048;
        &::before{
             @include position(absolute, 0 0 null 0);
            content: " ";
            width: 100vw;
            z-index: -1;
            height: 100vh;
            background-color: $white;
        }
        &::after{
             @include position(absolute, 0 0 null 0);
            content: " ";
            width: 100vw;
            z-index: -1;
            background-position: center;
            background-size: cover;
            height: 100vh;
            // background-image: url("../images/data/background-image1.png")
        }
    } 
}
 